
.linksRes{
    transition: .7s ease;
    background-color: white;
    z-index: 998;
    position: fixed;
    top: -55px;
    width: 100%;
}
.linksRes ul{
    
    gap: 15px;
}
.linksRes ul, .linksRes ul li{
    width: 100%;
    text-align: center;
}
.linksRes li{
    padding: 10px;
    border-radius: 15px;
    
}
.linksRes a{
    color: black;
}
.showBar{
    transform: translateY(140px);
}
.hideBar{
    transform: translateY(-100px);
}
@media screen and ((max-width: 400px)){
    .showBar{
        transform: translateY(120px);
    }
}
@media screen and ((max-height: 550px)){
    .showBar{
        transform: translateY(100px);
    }
}