

.btn button{
    border: 2 black solid;
    padding: 1em 2em;
    background-color: black;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    transition: .2s ease;
}

.card-btn button:hover{
    background-color: #fff;
    color: black;
}
.btn{
    width: fit-content;
    margin-top: 8px;
}
.card{
    min-width: 10em;
    height: auto;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;

}

.card-title{
    font-size: 18px;
    font-weight: lighter;
}
.price{
    font-size: 20px;
    font-weight: bold;
    margin-top: 5px;
}
.card img{
    width: 315%;
    
}

.card-img{
    height: 10em;
    overflow: hidden;
}

.bag-card{
    display: grid;
    grid-template-columns: auto 1fr auto;
    gap: 5px;
    margin-bottom: 10px;
    font-size: 18px;
    
}

.titlePrice{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.bag-card-price{
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.bag-card-img{
    width: 100px;
    overflow: hidden;
}

.bag-card-img img{
    width: 300%;
}

.bag-btn button{
    font-size: 25px;
    border: 0;
    padding: 10px;
    border-radius: 5px;
    background-color: #797878;
    width: 50px;
    height: 50px;
    cursor: pointer;
}

.bag-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
}

@media screen and ((max-width: 500px) or (max-height: 500px)) {
    .card{
        min-width: 7em;
        margin-bottom: 0;
        
    
    }
    .img-text-price-card{
        height: fit-content;
    }
    .card-img{
        height: 7em;

    }
    .btn button{
        padding: .8em 1.2em;
        
    }
    .btn{
        display: flex;
        justify-self: end;
    }
    .card-title{
        font-size: 17px;
        font-weight: lighter;
    }
    .price{
        font-size: 17px;
        font-weight: bold;
        margin-top: 6px;
    }
    
}

@media screen and (max-width: 450px) {
    .bag-card-img{
        width: 80px;
    }
    .bag-card-price p{
        font-size: 13px;
    }
    .bag-card-title{
        font-size: 15px;
    }
    .bag-btn{
        width: 70px;
    }
}
