.navbar {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    position: fixed;
    width: 100vw;
    z-index: 999;
    background-color: #fff;
}

.logo img{
    width: 150px;
}

.links{
    display: flex;
    align-items: center;
}

.links li{
    padding: .2em .7em;
}

.links ul{
    display: flex;
    
}

.links a{
    color: black;
    font-size: 25px;
    transition: .2s ease;
}

.links a:hover{
    font-size: 30px;
    font-weight: bold;
}

.bag{
    display: flex;
    justify-content: right;
    align-items: center;
}

.bag img{
    cursor: pointer;
    width: 112.5px;
    height: 75.25px;
}
.bars{
    width: fit-content;
    height: fit-content;
    justify-self: center;
    align-self: center;
    font-size: 15px;
}
.fabars{
    font-size: 40px;
}

@media screen and ((max-width: 900px)){
    .links{
        display: none;
    }
    .navbar {
        display: grid;
        grid-template-columns: 1fr auto auto;
    }
}

@media screen and (max-width: 400px){
    .logo img{
        width: 120px;
    }
    .bag img{
        width: 95px;
        height: 63.5px;
    }
    .fabars{
        font-size: 38px;
    }
}

@media screen and (max-height: 550px){
    .logo img{
        width: 80px;
    }
    .bag img{
        width: 75px;
        height: 49px;
    }
    .fabars{
        font-size: 33px;
    }
}

@media screen and ((min-width: 900px)){
    .linksRes{
        display: none;
    }
    .bars{
        display: none;
    }

}

