section{
    padding: 0 2em;
    
}

.sec{
    position: relative;
    top: 92px;
    padding: 0 2em;
    height: calc(100vh - 92.5px);
}

@media screen and (max-width: 900px) {

    section{
        padding: 0 .6em;

    }
}
@media screen and (max-width: 500px) {

    .sec{
        padding: 1em .6em;

    }
}


